<HTML>
<form action="/information" method="post">
	<table>
		<tr>
			<th>
				Username:
			</th>
			<td>
				<input type="text" name="Username">
			</td>
		</tr>
		<tr>
			<th>
				Password:
			</th>
			<td>
				<input type="password" name="Password">
			</td>
		</tr>
		<tr>
			<th>
				Name:
			</th>
			<td>
				<input type="text" name="Name">
			</td>
		</tr>
		<tr>
			<th>
				Role:
			</th>
			<td>
				<select name="Role" id="Role">
				<option value="Select">Select Role</option>
				<option value="1">Admin</option>
				<option value="2">User</option>
				</select>
			</td>
		</tr>
			<td>
				<input type="submit" value="Create User">
			<td>
		</tr>
	</table>
</form>
</HTML>