<HTML>
<div>
	<span style="margin-right:10px">
		Welcome <b> <%=Loggeduser%></b>
	</span>
	<span>
		<input type="button" value="Logout" onClick="parent.location='/login'">
	</span>
	<span>
		<input type="button" value="Home" onClick="parent.location='/'">
	</span>
</div>
</HTML>