<HTML>
<form action="/newperson" method="post">
	<table>
		<tr>
			<th>
				Regno:
			</th>
			<td>
				<input type="text" name="Regno">
			</td>
		</tr>
		<tr>
			<th>
				Name
			</th>
			<td>
				<input type="text" name="Name">
			</td>
		</tr>
		<tr>
			<th>
				Address:
			</th>
			<td>
				<input type="text" name="Address">
			</td>
		</tr>
			<td>
				<input type="submit" value="Save Changes">
			<td>
		</tr>
	</table>
</form>
</HTML>